<style>
  textarea{
    height: 40px;
  }

  @media screen and (max-width: 480px) {
  #pst{
    width: 100%;
  }
}

</style>

<div class="card text-white  w-100 text-center" id="pst" style="margin: 20px; background-color: #232626;">
    
    <div class="card-body" style="  box-shadow: 2px 2px; box-shadow: rgba(255, 255, 255, 0.596);">
      <div style="display: flex; flex-direction: row;">
        <img style="width: 30px; height: 30px;  margin-right: 10px;" src="https://searchusers.xyz/img/userb.png" class="card-img" alt="...">
      <h3 class="card-title">{{ post.user.first_name }} {{ post.user.last_name }}</h3>
      </div>     
      <p class="card-text" style="float: left; color: rgba(255, 255, 255, 0.637); margin-left: 40px;"><small class="">@{{post.user}}</small></p>
      <br><br>
      <p class="card-text" style="margin: 0 auto;">"{{ post.content }}"</p>
      <br>
      {% if post.image %}
      <img style="width: 80%;" src="/media/{{ post.image }}" class="card-img-top" style="width: 25%;" alt="...">
    {% endif %}
      <!-- <img style="width: 400px;" src="https://i.pinimg.com/originals/aa/dd/07/aadd07cb2a82d473b8bc52c9371e701b.jpg" class="card-img-top" style="width: 25%;" alt="..."> -->
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      <br><br>
      <div class="card-body">
        <!-- <a href="" onclick=likePost({{post.id}})>{{post.likes.count}} Likes</a> -->
        <form action="../post/{{post.id}}/like" method="post" enctype="multipart/form-data" >
          {%csrf_token%}
          <button style="float: left; margin-right: 10px;" onclick="" class="btn btn-primary">{{post.likes.count}} Likes</button>
        </form>
        <!-- <a href="#exampleModal" class="card-link">{{post.comments.count}} Comments</a> -->
        <button style="float: left;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#postModal{{post.id}}">
            {{post.comments.count}} Comments  </button>
            <span style="font-size: 10px; float: right; margin-top: 20px;">Posted at: {{ post.created_at }}</span>
      </div>
    </div>
  </div>

<!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" style="color: black;" id="postModal{{post.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-black" id="exampleModalLabel">Comments</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
          <!-- <form action="" onsubmit="commentPost({{post.id}}, document.getElementById('comment{{post.id}}').value)"> -->
          <form action="../post/{{post.id}}/comment" method="post" enctype="multipart/form-data" style="display: flex; flex-direction: column;">
            <div class="input-field" style="display: flex; flex-direction: column;">
              <!-- <label for="comment{{post.id}}">Comment</label> -->
              <!-- <input type="text" placeholder="Comment..." id="comment{{post.id}}" class="validate">
              <br> -->
              <h5>Add a new comment</h5>
                    {%csrf_token%}
                    <!-- {{post_comment}} -->
                    {{form}}
                    {{comment_form}}
                    <br>
              <button class="btn btn-primary" type="submit">Submit</button>
            </div>
          </form>
          <br>
          <h5>Previous Comments</h5>
          <ul>
            {% for comment in post.comments.all %}
            <li>{{ comment.user.first_name }} {{ comment.user.last_name }}: {{ comment.content }}</li>
            {% endfor %}
        </ul>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
      </div>
    </div>
  </div>