{% extends 'base.html' %}

{% block content %}
<style>
    textarea{
        height: 50px;
    }
</style>
<br><br><br><br>
<div class="container" style="display: flex; flex-direction: column; align-items: center;">
   <br>
    <h1 style="font-size: 60px;">Your Posts</h1>
<br>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#postModal">
        New Post</button>

    <div class="modal fade" style="color: black;" id="postModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">New Post</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form action="/post/" method="post" enctype="multipart/form-data" style="display: flex; flex-direction: column;">
                    {%csrf_token%}
                    {{post_form}}
                    <br>
                    <button class="btn btn-primary" type="submit">Post</button>
                </form>
            </div>
            <!-- <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
          </div>
        </div>
      </div>
      <br>
        {% for post in posts %}
            {% include 'social/components/post.html' %}
        {% endfor %}
</div>

    
{% endblock %}