{% extends 'base.html' %}

{% block content %}
<br><br><br>
<div class="container" style="display: flex; flex-direction: column; align-items: center; height: 100vh;">
    <div class="card mb-12" style="width: 90vw;  margin-top: 15%; background-color: black; border: 2px solid white; padding: 20px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img style="width: 20vw;" src="https://searchusers.xyz/img/userb.png" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{user.first_name}} {{user.last_name}}</h5>
              <p class="card-text"><small class="text-muted">{{user}}</small></p>
              <p class="card-text">{{user.email}}</p>
              <p class="card-text">Your Friends:</p>
              <ul>
                {%for friend in friends%}
                <li>{{friend.person2}}</li>
                {%endfor%}
              </ul>
            </div>
          </div>
        </div>
      </div>
</div>

    
{% endblock %}